@font-face{
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Medium.ttf'),
    url('Raleway/static/Raleway-Regular.ttf'),
    url('Raleway/static/Raleway-SemiBold.ttf'),
    url('Raleway/static/Raleway-Black.ttf'),
    url('Raleway/static/Raleway-Bold.ttf'),
    url('Raleway/static/Raleway-ExtraBold.ttf');
}

/*Styles pour mobiles*/
@media all and (max-width: 640px){
    body{
        font-family: 'Raleway';
        margin: 0px;
    }

    header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*Permet d'aller à la ligne*/
    }

    #logo{
        height: auto;
        padding-left: 20px;
        padding-top: 30px;
    }

    a{
        text-decoration: none;
    }

    .inscription{
        color: #0065FC;
        font-weight: bold;
        width: 23%;
        font-weight: bold;
        padding-top: 50px;
    }

    nav{
        width: 100%;
        display: flex;
    }

    .navigationhebergement{
        border-bottom: 3px #0065FC solid;
        text-align: center;
        width: 50%;
        color: #0065FC;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .navigationactivite{
        border-bottom: 3px #F2F2F2 solid;
        text-align: center;
        width: 50%;
        color: black;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .senstel{
        display: flex;
        flex-direction: column-reverse;
    }

    .trouverhebergement{
        margin: 30px 0px 0px 20px;
        font-weight: bolder;
        font-size: 1.4em;
    }

    .ligne{
        font-size: 0.9em;
        margin-top: 15px;
        margin-left: 20px;
    }

    .recherche{
        border: 1px #F2F2F2 solid;
        border-radius: 0px;
        border-right: none;
        border-left: none;
        width: 75%;
        padding-left: 10px;
    }

    .recherche::placeholder{
        color: black;
        font-weight: bolder;
        font-family: 'Raleway';
        font-size: 1.2em;
    }

    .boutonrecherche{
        display: flex;
        width: 90%;
        margin: 20px;
    }

    .map{
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        text-align: center;
        padding: 18px;
    }

    .fondbleu{
        background-color: #0065FC;
        color: white;
        border-radius: 15px;
        position: relative;
        right: 18px;
        text-align: center;
        padding: 18px;
    }

    .titrefiltre{
        font-size: 1em;
        font-weight: bolder;
        margin: 30px 0px 0px 20px;
    }

    .divfiltres{
        display: flex;
        flex-wrap: wrap;
    }

    .filtre{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 15px;
        border-radius: 50%;
        text-align: center;
        font-size: 1.2em;
        position: relative;
        left: 20px;
    }

    .filtrechild{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 15px 17px 15px 17px;
        border-radius: 50%;
        text-align: center;
        font-size: 1.2em;
        position: relative;
        left: 20px;
    }

    .boutonfiltre{
        background-color: white;
        border: 2.5px #F2F2F2 solid;
        border-radius: 0px 60px 60px 0px;
        border-left: none;
        font-weight: bolder;
        font-family: 'Raleway';
        font-size: 1em;
        padding: 0px 15px 0px 30px ;
    }

    .classfiltre{
        display: flex;
        margin-top: 15px;
    }

    .boutonfiltre:hover{
        background-color: #DEEBFF;
    }

    .divinfo{
        display: flex;
        margin: 30px 0px 40px 20px;

    }

    .fondblanc{
        color:#0065FC;
        border-radius: 50%;
        border: 1px solid #d4d2d2;
        width: 26px;
        height: 16px;
        font-size: 0.7em;
        padding-top: 3px;
        text-align: center;
    }
    
    .info{
        margin: 0px 0px 0px 10px;
        padding-top: 2px;
    }

    .populaire{
        display: flex;
        justify-content: space-between;
        margin: 30px 20px 30px 20px;
    }

    .titrepopulaire{
        font-weight: bolder;
        font-size: 1.4em;
        margin: 0px;
    }

    .fontpopulaire{
        font-size: 1.4em;
        padding-top: 4px;
    }

    aside{
        background-color: #F2F2F2;
        padding-bottom: 10px;
    }

    .divpop{
        display: flex;
        flex-direction: row;
        height: 145px;
        margin: 0px 20px 30px 20px;
        border-radius: 23px;
        background-color: white;
    }

    .divimagepop{
        width: 45%;
        border-radius: 23px 0px 0px 23px;
        margin: 4px 0px 4px 4px;
        overflow: hidden;
    }

    .imagepop1{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imagepop2{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imagepop3{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .legendepop{
        text-decoration: none;
        width: 60%;
        margin: 15px 0px 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nomhotel{
        font-weight: bold;
        color: black;
    }

    .tarif{
        color: black;
        padding-bottom: 15px;
        font-size: 0.9em;
    }

    .note{
        color: #0065FC;
        display: flex;
        margin-top: 10px;
    }

    .etoilesbleues{
        color: #0065FC;
        font-size: 75%;
        padding-right: 1px;
    }

    .etoilesgrises{
        color: #F2F2F2;
        font-size: 75%;
    }

    #hebergements{
        font-weight: bolder;
        font-size: 1.3em;
        margin-left: 20px;
        margin-top: 40px;
    }
    
    .divhebergement{
        border-radius: 23px;
        margin: 0px 20px 13px 20px;
        box-shadow: 0px 0px 6px 6px #F2F2F2;
        height: 200px;
        overflow: hidden;
    }

    .divphoto{
        border-radius: 23px 23px 0px 0px;
        margin: 4px 4px 0px 4px;
        height: 60%;
        width: 98%;
        overflow: hidden;
    }

    .photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photo2{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photo3{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photo4{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nomhebergement{
        font-weight: bold;
        color: black;
        margin-left: 15px;
        margin-top: 10px;
    }

    .tarifhebergement{
        color: black;
        font-size: 0.9em;
        margin-left: 15px;
        margin-top: 5px;
    }

    .notehebergement{
        display: flex;
        margin-left: 15px;
        margin-top: 5px;
    }

    .plus{
        font-weight: bolder;
        margin: 20px 0px 30px 20px;
    }

    #activites{
        font-weight: bolder;
        margin-left: 20px;
    }
    
    .divactivite{
        border-radius: 23px;
        margin: 12px 20px 20px 20px;
        box-shadow: 0px 0px 10px 3px #F2F2F2;
        height: 200px;
    }

    .divphotoactivite{
        border-radius: 23px 23px 0px 0px;
        height: 70%;
        width: 100%;
        overflow: hidden;
    }

    .photoactivite{
        width: 100%;
        height: auto;
        margin-top: -8px;
    }

    .photoactivite2{
        width: 100%;
        height: auto;
        margin-top: -150px;
    }

    .photoactivite3{
        width: 100%;
        height: auto;
        margin-top: -25px;
    }

    .legendactivite{
        font-weight: bolder;
        color: black;
        margin-top: 20px;
        margin-left: 20px;
    }

    footer{
        background-color: #F2F2F2;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    h3{
        font-size: 1em;
        padding: 45px 0px 5px 20px;
        margin: 0px;
    }

    ul{
        list-style-type: none;
        padding-left: 20px;
        margin: 0px;
    }

    li{
        padding-top: 10px;
    }

    .liste{
        color: black;
        font-size: 1em;
    }
}
    /*Styles desktop*/
@media screen and (min-width: 641px){

    body{
        font-family: 'Raleway';
        margin: 0px;
    }
    
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    a{
        text-decoration: none;
    }

    #logo{
        width: 7%;
        height: auto;
        margin: 17px 55% 0 30px;
    }

    nav{
        display: flex;
        width: 26%;
    }

    .inscription{
        order: 1;
        width: 13%;
        color: #0065FC;
        font-size: 0.55em;
        font-weight: bold;
        text-align: center;
        margin-top:  22px;
    }

    .navigationhebergement{
        width: 50%;
        font-size: 0.55em;
        color: #0065FC;
        border-top: 2px solid #0065FC;
        text-align: center;
        padding-top: 20px;
    }

    .navigationactivite{
        width: 50%;
        font-size: 0.55em;
        text-align: center;
        color: black;
        margin-top: 22px;
    }

    .trouverhebergement{
        font-size: 0.8em;
        margin: 20px 0px 0px 30px;
    }

    .ligne{
        font-size: 0.6em;
        margin-left: 30px;

    }

    .boutonrecherche{
        display: flex;
        margin-left: 30px;
        margin-top: 10px;
    }

    .recherche{
        border: 1px #F2F2F2 solid;
        border-radius: 0px;
        border-right: none;
        border-left: none;
        width: 20%;
        padding-left: 10px;
    }

    .recherche::placeholder{
        color: black;
        font-weight: bolder;
        font-family: 'Raleway';
        font-size: 0.8em;
    }

    .map{
        background-color: #F2F2F2;
        border-radius: 10px 0px 0px 10px;
        text-align: center;
        padding: 9px 9px 7px 9px;
        font-size: 0.7em;
    }

    .fondbleu{
        background-color: #0065FC;
        color: white;
        border-radius: 0px 10px 10px 0px;
        position: relative;
        right: 18px;
        text-align: center;
        padding: 9px;
        font-size: 0.7em;
    }

    .blockfiltre{
        display: flex;
    }

    .titrefiltre{
        margin: 20px 10px 0px 30px;
        font-size: 0.6em;
        padding-top: 5px;
    }

    .divfiltres{
        display: flex;
    }

    .filtre{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 10px 8px 8px 8px;
        border-radius: 50%;
        font-size: 0.6em;
        position: relative;
        left: 10px;
    }

    .filtrechild{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 10px 10px 8px 10px;
        border-radius: 50%;
        font-size: 0.6em;
        position: relative;
        left: 10px;
    }

    .boutonfiltre{
        background-color: white;
        border: 2.5px #F2F2F2 solid;
        border-radius: 0px 60px 60px 0px;
        border-left: none;
        font-weight: bold;
        font-family: 'Raleway';
        font-size: 0.6em;
        padding: 0px 10px 0px 15px ;
    }

    .classfiltre{
        display: flex;
        margin-top: 15px;
    }

    .boutonfiltre:hover{
        background-color: #DEEBFF;
    }

    .divinfo{
        display: flex;
        margin: 20px 0px 0px 30px;
    }

    .fondblanc{
        color:#0065FC;
        border-radius: 50%;
        border: 1px solid #d4d2d2;
        width: 11px;
        height: 9px;
        font-size: 0.4em;
        text-align: center;
        padding-top: 2px;
    }

    .info{
        font-size: 0.6em;
        margin-left: 5px;
        margin-top: 2px;
    }
}

/*
Styles pour les écrans de tablettes
@media screen and (min-width: 780px) and (max-width: 979px){

}
