@font-face{
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Medium.ttf'),
    url('Raleway/static/Raleway-Regular.ttf'),
    url('Raleway/static/Raleway-SemiBold.ttf'),
    url('Raleway/static/Raleway-Black.ttf'),
    url('Raleway/static/Raleway-Bold.ttf'),
    url('Raleway/static/Raleway-ExtraBold.ttf');
}

/*Styles pour mobiles*/
@media all and (max-width: 979px){
    body{
        font-family: 'Raleway';
        margin: 0px;
    }

    header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*Permet d'aller à la ligne*/
    }

    #logo{
        height: auto;
        padding-left: 20px;
        padding-top: 30px;
    }

    a{
        text-decoration: none;
    }

    .inscription{
        color: #0065FC;
        font-weight: bold;
        width: 23%;
        font-weight: bold;
        padding-top: 50px;
    }

    nav{
        width: 100%;
        display: flex;
    }

    .navigationhebergement{
        border-bottom: 3px #0065FC solid;
        text-align: center;
        width: 50%;
        color: #0065FC;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .navigationactivite{
        border-bottom: 3px #F2F2F2 solid;
        text-align: center;
        width: 50%;
        color: black;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .senstel{
        display: flex;
        flex-direction: column-reverse;
    }

    .trouverhebergement{
        margin: 30px 0px 0px 20px;
        font-weight: bold;
        font-size: 1.4em;
    }

    .ligne{
        font-size: 0.9em;
        margin-top: 15px;
        margin-left: 20px;
    }

    .recherche{
        border: 1px #F2F2F2 solid;
        border-radius: 0px;
        border-right: none;
        border-left: none;
        width: 75%;
        padding-left: 10px;
    }

    .recherche::placeholder{
        color: black;
        font-weight: bold;
        font-family: 'Raleway';
        font-size: 1.2em;
    }

    .boutonrecherche{
        display: flex;
        width: 90%;
        margin: 20px;
    }

    .map{
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        text-align: center;
        padding: 18px;
    }

    .fondbleu{
        background-color: #0065FC;
        color: white;
        border-radius: 15px;
        position: relative;
        right: 18px;
        text-align: center;
        padding: 18px;
        display: block;
    }

    .chercher{
        display: none;
    }

    .titrefiltre{
        font-size: 1em;
        font-weight: bold;
        margin: 30px 0px 0px 20px;
    }

    .divfiltres{
        display: flex;
        flex-wrap: wrap;
    }

    .filtre{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 15px;
        border-radius: 50%;
        text-align: center;
        font-size: 1.2em;
        position: relative;
        left: 20px;
    }

    .filtrechild{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 15px 17px 15px 17px;
        border-radius: 50%;
        text-align: center;
        font-size: 1.2em;
        position: relative;
        left: 20px;
    }

    .boutonfiltre{
        color: black;
        border: 2.5px #F2F2F2 solid;
        border-radius: 0px 60px 60px 0px;
        border-left: none;
        font-weight: bold;
        font-family: 'Raleway';
        font-size: 1em;
        padding: 12px 15px 0px 30px ;
    }

    .classfiltre{
        display: flex;
        margin-top: 15px;
    }

    .boutonfiltre:hover{
        background-color: #DEEBFF;
    }

    .divinfo{
        display: flex;
        margin: 30px 0px 40px 20px;

    }

    .fondblanc{
        color:#0065FC;
        border-radius: 50%;
        border: 1px solid #d4d2d2;
        width: 26px;
        height: 16px;
        font-size: 0.7em;
        padding-top: 3px;
        text-align: center;
    }
    
    .info{
        margin: 0px 0px 0px 10px;
        padding-top: 2px;
    }

    .populaire{
        display: flex;
        justify-content: space-between;
        margin: 30px 20px 30px 20px;
    }

    .titrepopulaire{
        font-weight: bold;
        font-size: 1.4em;
        margin: 0px;
    }

    .fontpopulaire{
        font-size: 1.4em;
        padding-top: 4px;
    }

    aside{
        background-color: #F2F2F2;
        padding-bottom: 10px;
    }

    .divpop{
        display: flex;
        flex-direction: row;
        height: 145px;
        margin: 0px 20px 30px 20px;
        border-radius: 23px;
        background-color: white;
    }

    .divimagepop{
        width: 45%;
        border-radius: 23px 0px 0px 23px;
        margin: 4px 0px 4px 4px;
        overflow: hidden;
    }

    .imagepop1{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imagepop2{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imagepop3{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .legendepop{
        text-decoration: none;
        width: 60%;
        margin: 15px 0px 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nomhotel{
        font-weight: bold;
        color: black;
    }

    .tarif{
        color: black;
        padding-bottom: 15px;
        font-size: 0.9em;
    }

    .note{
        color: #0065FC;
        display: flex;
        margin-top: 10px;
    }

    .etoilesbleues{
        color: #0065FC;
        font-size: 75%;
        padding-right: 1px;
    }

    .etoilesgrises{
        color: #F2F2F2;
        font-size: 75%;
    }

    #hebergements{
        font-weight: bold;
        font-size: 1.3em;
        margin-left: 20px;
        margin-top: 40px;
    }
    
    .divhebergement{
        border-radius: 23px;
        margin: 0px 20px 13px 20px;
        box-shadow: 0px 0px 6px 6px #F2F2F2;
        height: 200px;
        overflow: hidden;
    }

    .divphoto{
        border-radius: 23px 23px 0px 0px;
        margin: 4px 4px 0px 4px;
        height: 60%;
        width: 98%;
        overflow: hidden;
    }

    .photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nomhebergement{
        font-weight: bold;
        color: black;
        margin-left: 15px;
        margin-top: 10px;
    }

    .tarifhebergement{
        color: black;
        font-size: 0.9em;
        margin-left: 15px;
        margin-top: 5px;
    }

    .notehebergement{
        display: flex;
        margin-left: 15px;
        margin-top: 5px;
    }

    .plus{
        color: black;
        font-weight: bold;
        margin: 20px 0px 30px 20px;
    }

    #activites{
        font-weight: bold;
        margin-left: 20px;
    }
    
    .divactivite{
        border-radius: 23px;
        margin: 12px 20px 20px 20px;
        box-shadow: 0px 0px 10px 3px #F2F2F2;
        height: 200px;
    }

    .divphotoactivite{
        border-radius: 23px 23px 0px 0px;
        height: 70%;
        width: 100%;
        overflow: hidden;
    }

    .photoactivite{
        width: 100%;
        height: auto;
        margin-top: -8px;
    }

    .photoactivite2{
        width: 100%;
        height: auto;
        margin-top: -150px;
    }

    .legendactivite{
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-left: 20px;
    }

    footer{
        background-color: #F2F2F2;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    h3{
        font-size: 1em;
        padding: 45px 0px 5px 20px;
        margin: 0px;
    }

    ul{
        list-style-type: none;
        padding-left: 20px;
        margin: 0px;
    }

    li{
        padding-top: 10px;
    }

    .liste{
        color: black;
        font-size: 1em;
    }
}
    /*Styles desktop*/
@media screen and (min-width: 980px){

    body{
        font-family: 'Raleway';
        margin: 0px;
    }
    
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    a{
        text-decoration: none;
    }

    #logo{
        width: 7%;
        height: auto;
        margin: 17px 55% 0 40px;
    }

    nav{
        display: flex;
        width: 26%;
    }

    .inscription{
        order: 1;
        width: 13%;
        color: #0065FC;
        font-weight: bold;
        text-align: center;
        margin-top:  22px;
    }

    .navigationhebergement{
        width: 50%;
        color: #0065FC;
        border-top: 2px solid #0065FC;
        text-align: center;
        padding-top: 20px;
    }

    .navigationactivite{
        width: 50%;
        text-align: center;
        color: black;
        margin-top: 22px;
    }

    .trouverhebergement{
        font-size: 1.3em;
        margin: 20px 0px 5px 40px;
    }

    .ligne{
        margin-left: 40px;

    }

    .boutonrecherche{
        display: flex;
        margin: 30px 0px 20px 40px;
    }

    .recherche{
        border: 1px #F2F2F2 solid;
        border-radius: 0px;
        border-right: none;
        border-left: none;
        width: 18%;
        padding-left: 10px;
    }

    .recherche::placeholder{
        color: black;
        font-weight: bold;
        font-family: 'Raleway';
        font-size: 1.2em;
    }

    .map{
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        text-align: center;
        padding: 14px 16px 0px 16px;
        font-size: 1.1em;
    }

    .fondbleu{
        display: none;
    }

    .chercher{
        background-color: #0065FC;
        color: white;
        border-radius: 0px 15px 15px 0px;
        position: relative;
        right: 18px;
        text-align: center;
        padding: 12px;
        display: block;
    }

    .blockfiltre{
        display: flex;
        margin-bottom: 5px;
    }

    .titrefiltre{
        margin: 20px 10px 0px 40px;
        font-size: 1.2em;
    }

    .divfiltres{
        display: flex;
    }

    .filtre{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 13px 13px 0px 13px;
        border-radius: 50%;
        position: relative;
        left: 17px;
    }

    .filtrechild{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 14px 15px 0px 15px;
        border-radius: 50%;
        position: relative;
        left: 15px;
    }

    .boutonfiltre{
        color: black;
        border: 2.5px #F2F2F2 solid;
        border-radius: 0px 60px 60px 0px;
        border-left: none;
        font-weight: bold;
        font-family: 'Raleway';
        font-size: 1em;
        padding: 8px 22px 8px 25px ;
    }

    .classfiltre{
        display: flex;
        margin-top: 10px;
    }

    .boutonfiltre:hover{
        background-color: #DEEBFF;
    }

    .divinfo{
        display: flex;
        margin: 30px 0px 30px 40px;
    }

    .fondblanc{
        color:#0065FC;
        border-radius: 50%;
        border: 1px solid #d4d2d2;
        width: 18px;
        height: 14px;
        font-size: 0.6em;
        text-align: center;
        padding-top: 4px;
    }

    .info{
        margin-left: 5px;
        margin-top: 2px;
    }

    .senstel{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 620px;
    }

    .plus{
        order: 1;
        background-color: #F2F2F2;
        border-radius: 0px 0px 10px 10px;
        width: 61%;
        margin-left: 40px;
        padding: 0px 25px 50px 25px;
        color: black;
        font-weight: bold;
    }

    .etoilesbleues{
        color: #0065FC;
        padding-right: 1px;
    }

    .etoilesgrises{
        color: #d4d1d1;
    }

    .blockhebergement{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 61%;
        height: 550px;
        background-color: #F2F2F2;
        margin-left: 40px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 10px 10px 0px 0px;
    }

    #hebergements{
        font-weight: bold;
        font-size: 1.4em;
        margin-top: 25px;
        margin-bottom: 0px;
        width: 100%;
        height: 0px;
    }

    .ahebergement{
        width: 31%;
        margin-bottom: 15px;
        height: 33%;
    }
    
    .divhebergement{
        border-radius: 10px;
        margin: 0px;
        background-color: white;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .divphoto{
        border-radius: 10px 10px 0px 0px;
        margin: 3px 3px 0px 3px;
        height: 55%;
        overflow: hidden;
    }

    .photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nomhebergement{
        font-weight: bold;
        color: black;
        font-size: 1em;
        margin-left: 10px;
        margin-top: 10px;
    }

    .tarifhebergement{
        color: black;
        margin-left: 10px;
        margin-top: 3px;
        font-size: 0.9em;
    }

    .notehebergement{
        display: flex;
        margin: 5px 0px 5px 10px;
    }
    
    aside{
        order: 2;
        background-color: #F2F2F2;
        margin-left: 20px;
        margin-right: 30px;
        border-radius: 10px;
        width: 28%;
        height: 619px;
    }

    .populaire{
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .titrepopulaire{
        font-weight: bold;
        font-size: 1.4em;
        margin: 0px;
    }

    .fontpopulaire{
        font-size: 1.4em;
    }

    .divpop{
        display: flex;
        flex-direction: row;
        margin: 0px 25px 45px 25px;
        border-radius: 10px;
        background-color: white;
        height: 23%;
    }

    .divimagepop{
        width: 45%;
        border-radius: 10px 0px 0px 10px;
        margin: 4px 0px 4px 4px;
        overflow: hidden;
    }

    .imagepop1{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imagepop2{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imagepop3{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .legendepop{
        text-decoration: none;
        width: 60%;
        margin: 10px 0px 10px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nomhotel{
        font-weight: bold;
        color: black;
        font-size: 1em;
    }

    .tarif{
        color: black;
        padding-bottom: 25px;
        font-size: 0.9em;
    }

    .note{
        color: #0065FC;
        display: flex;
    }

    #activites{
        font-weight: bold;
        margin-left: 40px;
        margin-top: 60px;
        font-size: 1.4em;
    }
    
    .blockactivite{
        display: flex;
        flex-direction: column;
        height: 460px;
        flex-wrap: wrap;
        margin-left: 40px;
    }

    .taille{
        width: 22%;
    }

/** grandes photos des activités **/

        .divgrand{
            border-radius: 23px;
            box-shadow: 0px 0px 10px 3px #F2F2F2;
            margin: 0px;
            width: 100%;
            height: 440px;
        }

        .divphotogrand{
            border-radius: 23px 23px 0px 0px;
            width: 100%;
            height: 380px;
            overflow: hidden;
        }

        .photogrand{
            width: 105%;
            height: 112%;
            object-fit: cover;
        }

/** Pour Pomègues **/
        .divpomegues{
            border-radius: 23px;
            box-shadow: 0px 0px 10px 3px #F2F2F2;
            margin: 0px 0px 30px 0px;
            width: 100%;
            height: 230px;
        }
    
        .divphotopomegues{
            border-radius: 23px 23px 0px 0px;
            width: 100%;
            height: 180px;
            overflow: hidden;
        }

        .photoactivite2{
            width: 100%;
            margin-top: -110px;
        }

/** Pour Frioul **/
        .divfrioul{
            border-radius: 23px;
            box-shadow: 0px 0px 10px 3px #F2F2F2;
            margin: 10px 0px 0px 0px;
            width: 100%;
            height: 170px;
        }

        .divphotofrioul{
            border-radius: 23px 23px 0px 0px;
            width: 100%;
            height: 110px;
            overflow: hidden;
        }

        .photofrioul{
            width: 100%;
            margin-top: -15px;
        }

/** Pour Notre Dame de la Garde **/
        .divnotredame{
            border-radius: 23px;
            box-shadow: 0px 0px 10px 3px #F2F2F2;
            margin: 0px 0px 30px 0px;
            width: 100%;
            height: 190px;
        }

        .divphotonotredame{
            border-radius: 23px 23px 0px 0px;
            width: 100%;
            height: 140px;
            overflow: hidden;
        }

        .photonotredame{
            width: 100%;
        }

/** Pour le parc Longchamp **/ 
        .divlongchamp{
            border-radius: 23px;
            box-shadow: 0px 0px 10px 3px #F2F2F2;
            margin: 10px 0px 0px 0px;
            width: 100%;
            height: 210px;
        }

        .divphotolongchamp{
            border-radius: 23px 23px 0px 0px;
            width: 100%;
            height: 150px;
            overflow: hidden;
        }

        .photolongchamp{
            width: 100%;
            margin-top: -10px;
        }

    .legendactivite{
        font-weight: bold;
        color: black;
        height: 55px;
        margin-top: 20px;
        margin-left: 20px;
    }

    footer{
        display: flex;
        padding: 30px 0px 30px 40px;
        margin-top: 40px;
        background-color: #F2F2F2;
    }
    
    h3{
        font-size: 1.2em;
        margin: 0px;
    }

    ul{
        list-style-type: none;
        padding-left: 0px;
        width: 450px;
    }

    li{
        padding-top: 10px;
    }

    .liste{
        color: black;
        font-size: 1em;
    }
}

/*Styles pour les écrans de tablettes*/
@media screen and (min-width: 780px) and (max-width: 979px){

    .recherche{
        width: 50%;
    }

    .boutonfiltre{
        font-size: 0.9em;
        padding: 12px 15px 0px 30px ;
    }

    .fondblanc{
        width: 22px;
    }

    .divpop{
        margin: 0px 80px 30px 80px;
    }
    
    .divhebergement{
        margin: 0px 80px 13px 80px;
        height: 300px;
    }

    .divphoto{
        height: 70%;
    }

    .legendephoto{
        display: flex;
        flex-wrap: wrap;
    }

    .nomhebergement{
        width: 50%;
        margin-top: 20px;
    }

    .tarifhebergement{
        padding-left: 120px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .notehebergement{
        margin-top: 20px;
    }

    .divactivite{
        margin: 12px 80px 20px 80px;
        height: 300px;
    }

    .photoactivite{
        margin-top: -100px;
    }

    .photoactivite2{
        margin-top: -350px;
    }

    .legendactivite{
        text-align: center;
        margin-left: 0px;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    .divfooter{
        margin-right: 40px;
        margin-left: 30px;
    }
}
