@font-face{
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Medium.ttf'),
    url('Raleway/static/Raleway-Regular.ttf'),
    url('Raleway/static/Raleway-SemiBold.ttf'),
    url('Raleway/static/Raleway-Black.ttf'),
    url('Raleway/static/Raleway-Bold.ttf'),
    url('Raleway/static/Raleway-ExtraBold.ttf');
}

/*Styles pour mobiles
@media all and (max-width: 640px){*/
    body{
        font-family: 'Raleway';
        margin: 0px;
    }

    header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*Permet d'aller à la ligne*/
    }

    #logo{
        width: 27%;
        height: auto;
        padding-left: 50px;
        margin-top: 60px;
    }

    a{
        text-decoration: none;
    }

    .inscription{
        color: #0065FC;
        font-weight: bold;
        margin-top: 105px;
        width: 23%;
        font-size: 2.5em;
        font-weight: bold;
    }

    nav{
        width: 100%;
        display: flex;
    }

    .navigationhebergement{
        border-bottom: 7px #0065FC solid;
        text-align: center;
        width: 50%;
        padding-bottom: 1em;
        color: #0065FC;
        margin-top: 60px;
        font-size: 2.5em;
    }

    .navigationactivite{
        border-bottom: 7px #F2F2F2 solid;
        text-align: center;
        width: 50%;
        padding-bottom: 1em;
        color: black;
        margin-top: 60px;
        font-size: 2.5em;
    }

    .senstel{
        display: flex;
        flex-direction: column-reverse;
    }

    .trouverhebergement{
        margin: 90px 130px 50px 50px;
        font-size: 2em;
        font-weight: bolder;
    }

    .ligne{
        font-size: 0.9em;
        padding-bottom: 30px;
        margin-left: 50px;
    }

    .recherche{
        border: 1px #F2F2F2 solid;
        border-radius: 0px;
        border-right: none;
        border-left: none;
        width: 75%;
        padding-left: 30px;
        padding-top: 25px;
    }

    .recherche::placeholder{
        color: black;
        font-size: 3.5em;
        font-weight: bolder;
        font-family: 'Raleway';
    }

    .boutonrecherche{
        display: flex;
        height: 120px;
        width: 90%;
        margin: 60px auto;
    }

    .map{
        background-color: #F2F2F2;
        padding: 14px 14px 14px 14px;
        border-radius: 40px 0px 0px 40px;
        width: 100px;
        font-size: 50px;
        text-align: center;
        padding-top: 33px;
    }

    .fondbleu{
        background-color: #0065FC;
        color: white;
        width: 100px;
        padding: 40px 18px 14px 18px;
        border-radius: 40px;
        position: relative;
        right: 18px;
        font-size: 40px;
        text-align: center;
    }

    .titrefiltre{
        font-size: 1em;
        font-weight: bolder;
        margin-left: 50px;
        margin-top: 90px;
    }

    .divfiltres{
        display: flex;
        flex-wrap: wrap;
    }

    .filtre{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 40px;
        border-radius: 50%;
        font-size: 50px;
        text-align: center;
        position: relative;
        left: 60px;
    }

    .filtrechild{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 40px 52px 40px 52px;
        border-radius: 50%;
        font-size: 50px;
        text-align: center;
        position: relative;
        left: 60px;
    }

    .boutonfiltre{
        background-color: white;
        border: 6px #F2F2F2 solid;
        border-radius: 0px 60px 60px 0px;
        border-left: none;
        font-weight: bold;
        font-family: 'Raleway';
        padding: 0px 50px 0px 90px ;
        font-size: 2.5em;
    }

    .classfiltre{
        display: flex;
        margin-top: 30px;
    }

    .boutonfiltre:hover{
        background-color: #DEEBFF;
    }

    .divinfo{
        display: flex;
        padding-left: 50px;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .fondblanc{
        background-color: #0065FC;
        color: white;
        border-radius: 50%;
        border: 1px solid #d4d2d2;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }

    .info{
        font-size: 2.5em;
        margin: 0px 0px 0px 30px;
    }

    .populaire{
        display: flex;
        justify-content: space-between;
        margin: 100px 50px 70px 50px;
    }

    .titrepopulaire{
        font-size: 3.5em;
        font-weight: bolder;
        width: 60%;
        margin: 0px;
    }

    .fontpopulaire{
        font-size: 60px;
    }

    aside{
        background-color: #F2F2F2;
        padding-bottom: 60px;
    }

    .divpop{
        display: flex;
        flex-direction: row;
        height: 370px;
        margin: 0px 50px 30px 50px;
        border-radius: 50px;
        background-color: white;
    }

    .imagepop{
        width: 40%;
        border-radius: 50px 0px 0px 50px;
        margin: 15px 50px 15px 15px;
        background-size: cover;
    }

    .legendepop{
        text-decoration: none;
        margin: 40px 40px 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nomhotel{
        font-weight: bold;
        color: black;
        font-size: 2.6em;
    }

    .tarif{
        font-size: 2.2em;
        color: black;
    }

    .note{
        color: #0065FC;
        display: flex;
        margin-top: 50px;
    }

    .etoilesbleues{
        color: #0065FC;
        font-size: 190%;
    }

    .etoilesgrises{
        color: #F2F2F2;
        font-size: 190%;
    }
    
    .divhebergement{
        border-radius: 15px;
        margin: 0px 50px 30px 50px;
        box-shadow: 0px 0px 6px 6px #F2F2F2;
        height: 510px;
        overflow: hidden;
    }

    .divphoto{
        border-radius: 15px 15px 0px 0px;
        margin: 10px 10px 0px 10px;
        height: 60%;
        width: 98%;
        overflow: hidden;
    }

    .photo{
        background-size: cover;
    }

    .nomhebergement{
        font-weight: bold;
        color: black;
        font-size: 2.5em;
        margin-left: 50px;
        margin-top: 30px;
    }

    .tarifhebergement{
        font-size: 2.2em;
        color: black;
        margin-left: 50px;
        margin-top: 10px;
    }

    .notehebergement{
        display: flex;
        margin-left: 50px;
        margin-top: 20px;
    }

    #hebergements{
        font-size: 3.5em;
        font-weight: bolder;
        margin-left: 50px;
        margin-top: 100px;
    }

    .plus{
        font-size: 2.8em;
        font-weight: bolder;
        margin: 50px 0px 100px 50px;
    }

    #activites{
        font-size: 2.8em;
        font-weight: bolder;
        margin-left: 50px;
    }
    
    .divactivite{
        border-radius: 50px;
        margin: 12px 50px 50px 50px;
        box-shadow: 0px 0px 10px 15px #F2F2F2;
        height: 500px;
    }

    .photoactivite{
        border-radius: 50px 50px 0px 0px;
        height: 70%;
        width: 100%;
    }

    .legendactivite{
        font-weight: bolder;
        color: black;
        font-size: 2.5em;
        margin-top: 50px;
        margin-left: 40px;
    }

    footer{
        background-color: #F2F2F2;
        margin-top: 130px;
    }

    h3{
        font-size: 1em;
        padding: 110px 0px 40px 50px;
        margin: 0px;
    }

    ul{
        list-style-type: none;
        padding-left: 50px;
        margin: 0px;
    }

    li{
        padding-top: 20px;
    }

    .liste{
        color: black;
        font-size: 0.9em;
    }
/*}

Styles pour les écrans de tablettes
@media screen and (min-width: 780px) and (max-width: 979px){

}

Styles desktop
@media screen and (min-width: 980px){

}*/