@font-face{
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf')
}

/*Styles pour mobiles*/
@media screen and (max-width: 780px){
    body{
        font-family: 'Raleway';
    }

    header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*Permet d'aller à la ligne*/
    }

    #logo{
        width: 90px;
        height: 40px;
        padding-left: 10px;
        margin-top: 15px;
    }

    a{
        text-decoration: none;
    }

    .inscription{
        color: #0065FC;
        font-weight: bold;
        margin-top: 28px;
        padding-right: 10px;
    }

    .map{
        background-color: #F2F2F2;
        padding: 0.5em;
        border-radius: 8px 0px 0px 8px;
    }

    nav{
        width: 100%;
        display: flex;
    }

    .navigationhebergement{
        border-bottom: #0065FC solid;
        text-align: center;
        width: 50%;
        padding-bottom: 1em;
        color: #0065FC;
        margin-top: 30px;
    }

    .navigationactivite{
        border-bottom: #F2F2F2 solid;
        text-align: center;
        width: 50%;
        padding-bottom: 1em;
        color: black;
        margin-top: 30px;
    }

    .senstel{
        display: flex;
        flex-direction: column-reverse;
    }

    .recherche{
        padding: 0.5em;
        font-weight: bold;
        border: 1px #F2F2F2 solid;
        border-radius: 0px;
        border-right: none;
        border-left: none;

    }

    .boutonrecherche{
        display: flex;
    }

    .divfiltres{
        display: flex;
        flex-wrap: wrap;
    }

    .filtre{
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 14px;
        border-radius: 50%;
        width: 20px;
        height: 16px;
        text-align: center;
        position: relative;
        left: 18px;
    }

    .boutonfiltre{
        background-color: white;
        border: 2px #F2F2F2 solid;
        border-radius: 0px 20px 20px 0px;
        border-left: none;
        font-weight: bold;
        padding-left: 23.5px;
        padding-top: 13.8px;
        padding-bottom: 11.5px;
        margin-bottom: 10px;
    }

    .boutonfiltre:hover{
        background-color: #DEEBFF;
    }
    
    .divhebergement{
        border-radius: 15px;
        margin: 12px 15px 12px 15px;
        box-shadow: 6px 6px 6px #F2F2F2;
        height: 185px;
    }

    .photo{
        border-radius: 15px 15px 0px 0px;
        margin: 4px 4px 0px 4px;
        height: 110px;
    }

    .nomhebergement{
        font-weight: bold;
        color: black;
        font-size: 0.9em;
        margin-left: 4px;
    }

    .tarifhebergement{
        font-size: 0.8em;
        color: black;
        margin-left: 4px;
    }

    #hebergements{
        font-size: 1.1em;
        font-weight: bolder;
        margin-left: 15px;
    }

    .fondbleu{
        background-color: #0065FC;
        color: white;
        padding: 0.5em;
        border-radius: 8px;
    }

    .fondblanc{
        background-color: #0065FC;
        color: white;
        border-radius: 15px;
        border-color: #F2F2F2;
    }

    aside{
        background-color: #F2F2F2;
    }

    .populaire{
        display: flex;
        justify-content: space-between;
    }

    .titrepopulaire{
        font-size: 1.1em;
        font-weight: bolder;
        margin: 30px 0px 10px 15px;
    }

    .fontpopulaire{
        margin-top: 35px;
        margin-right: 15px;
    }

    .divpop{
        display: flex;
        flex-direction: row;
        margin: 12px 15px 12px 15px;
        border-radius: 15px;
        background-color: white;
    }

    .imagepop{
        width: 126px;
        height: 126px;
        border-radius: 15px 0px 0px 15px;
        margin: 4px 15px 4px 4px;
        background-size: cover;
    }

    .legendepop{
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nomhotel{
        font-weight: bold;
        color: black;
        font-size: 0.9em;
    }

    .tarif{
        font-size: 0.8em;
        color: black;
    }

    .note{
        color: #0065FC;
        margin-top: 40px;
        width: 70px;
        height: 10px;
    }

    .etoilesbleues{
        color: #0065FC;
        width: 9px;
        height: auto;
    }

    .etoilesgrises{
        color: #F2F2F2;
    }
}

/*Styles pour les écrans de tablettes*/
@media screen and (min-width: 780px) and (max-width: 979px){

}

/*Styles desktop*/
@media screen and (min-width: 980px){

}



/*
header{
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 7%;
    height: auto;
}

a{
    text-decoration: none;
}

nav{
    display:flex;
    justify-content: space-between;
}
*/

